.main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    background-color: var(--white);
    padding: 0 20px;

    .lh_header{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        gap: 60px;
    }

    .rh_header{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 60px;
        .user{
            width: 35px;
            height: 35px;
        }
        img{
            cursor: pointer;
        }
    }

    .search-container{
        width: 430px;
    }
}
