img {
  max-width: 100%;
  height: auto;
}

:root {
  --blue: #0A66C2;
  --white: #FFFFFF;
  --Heading: #3E3E3E;
  --black: #000000;
  --gray: #E1E1E1;
  --border: #D6D6D6;
  --yellow: #F5C961;
  --red: #D12323;
  --green: #108F0E;
}